<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body>
    <div class="text-email">
        <input type="text" placeholder="Nombre y Apellido">
        <input type="text" placeholder="Nombre de Usuario">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="contraseña">
        <input type="password" placeholder="Confirmar contraseña">
     
    </div>
    <h1>Fecha de Nacimiento</h1>
    <div class="fecha">

        <input type="date" name="" id="">
        <input type="text" placeholder="Domicilo">
    </div>

    <h1>Perfil de usuario</h1>
   <div class="radio">
       <input type="radio" name="comprador">comprador
       <input type="radio" name="comprador">vendedor
   </div>
   <div class="checkbox">
       <h1>Intereces</h1>
       <label ><input type="checkbox" name="Electro" >Electro</label>
       <label ><input type="checkbox" name="Moda" >Moda</label>
       <label ><input type="checkbox" name="Vida sana" >Vida sana</label>
       <label ><input type="checkbox" name="Hogar" >Hogar</label>
       <label ><input type="checkbox" name="Jugueteria" >Jugueteria</label>
   </div>
   <button class="boton2"><a class="enviar" href="/">Enviar</a></button>
   <button class="boton3"><a class="enviar" href="">Borrar</a></button>
   <footer class="recuadro">
    <div>
        <i class="fa-solid fa-credit-card"></i>
        <h3>Paga con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</p>
    </div>
    <div>
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</p>
    </div>
    <div>
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegid@.</p>
    </div>
</footer>
<div class="pie">
    <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
</div>
</body>
</html>