* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: black;
  }
  
  ul{
    list-style: none;
    
  }
  body {
    background-color:#B5B2B2 ;
    background-color: #ebebeb;
  }
  
  h3 {
    font-size: 24px;
    color: blue;
  }
  
  p {
    font-size: 12px;
  }
  div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
  }
  
  header {
    background-color: #eac926;
    display: flex;
    flex-direction: column;
    
  
  }
  html{
    font-family: 'roboto', sans-serif;
  }
  
  .menu-container{
    display: none;
  }
  
  .logo-bar-container{
    /* /* border: 3px solid gray; */
    display: flex; 
  
  }
  .logo-container{
    /* border: 3px solid  red; */
    display: flex;
    flex-direction: column;
  }
  
  
  header div.logo,
  header .form {
    width: 50%;
  }
  
  header div.logo {
    padding: 10px;
  }
  header nav {
    font-size: 12px;
  }
  
  
  
  header .form {
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
  }
  
  header .form .input {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
  }
  header .form .submit {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 10%;
  }
  
  header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  .burguer-container{
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    
    
    
  }
  .search-button-container{
    /* border: 3px solid pink; */
    display: flex;
    align-items: center;
    width: 50%;
    
  }
  .search-container{
    /* border: 3px solid brown; */
    display: flex;
    width: 90%;
    height: 25%;
  
  }
  input{
    width: 95%;
    border: none;
    background-color: white;
    border-radius: 5px 0 0 5px;
  }
  button{
    width: 15%;
    padding: 1;
    border: none;
    background-color:white;
    border-radius: 0 5px 5px 0;
  }
  
  .card-container{
    /* border: 3px solid gray; */
    padding: 15px;
  }
  .car-title{
    font-weight: 400;
    text-align: center;
    font-size: robot;
  }
  .car-title{
    margin-right: 10px;
  }
  .burguer-menu{
    background-color: blue;
    border-radius: 5px;
    /* padding: 5%; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color:white
  }
  
  article div.main-article {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
  }
  
  .price {
    font-size: 18px;
  }
  
  .discount,
  .description {
    font-size: 16px;
    font-weight: normal;
  }
  
  h3,
  .description {
    color: #666;
  }
  
  section.banner img {
    width: 100%;
  }
  
  main {
    width: 90%;
    margin: auto;
  }
  
  main section article {
    background-color: #fff;
    margin-bottom: 16px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
  main section article img {
    width: 100%;
  }
  
  main section article i,
  .discount {
    color: #39b54a;
  }
  
  article .main-article .fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }
  
  footer{
    align-items: center;
    text-align: center;
  
    
  }
  @media (min-width: 481px) {
    main section article .description {
      display: block;
    }
  
    main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    main section div.products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
    }
  
    main section div.products article {
      flex-basis: 48%;
    }
  
    .price,
    .discount {
      width: 50%;
    }
  }
  
  @media (min-width: 481px) {
    main section article .description {
      display: block;
    }
  
    main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    main section div.products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
    }
  
    main section div.products article {
      flex-basis: 48%;
    }
  
    .price,
    .discount {
      width: 50%;
    }
  }
  
  @media (min-width: 769px) {
    .logo-container{
      flex-direction: row;
  }
  .logo-bar-container{
      width: 50%;
  }
  .card-container{
      display: flex;
      width: 50%;
      padding: 0;
      justify-content: center;
      align-items: center;
  
  }
  .card-container h2 {
      font-size: 16px;
  
  }
  .burguer-container{
      display: none;
  }
  .menu-container{
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }
  ul{
      display: flex;
      width: 45%;
      justify-content: space-between;
  }
    main section div.products article {
      flex-basis: 24%;
    }
  }