*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--grisClaro);
  background-color: #ebebeb;
}
a{
  text-decoration: none;
  color: black
}
ul{
  list-style: none;
  
}

img{
  width: 100%;

}
html{
  font-family: 'roboto', sans-serif;
}
header{
/* border:3px solid green; */
background-color: #EAC926;
display: flex;
flex-direction: column;
}

.logo-container{
  /* border: 3px solid  red; */
  display: flex;
  flex-direction: column;
}
.menu-container{
  /* border:red 3px solid; */
  display: none;
}

.burguer-container{
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;

 

}
.burguer-menu{
  background-color:#03264C;
  border-radius: 5px;
  /* padding: 5%; */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color:#fff;
}
.logo-bar-container{
  /* /* border: 3px solid gray; */
  display: flex; 

}
.card-container{
  /* border: 3px solid gray; */
  padding: 15px;
}
.logo{
  /* border:3px solid pink; */
  width: 50%;
  padding: 10px;
}
.search-button-container{
  /* border: 3px solid pink; */
  display: flex;
  align-items: center;
  width: 50%;

}
.search-container{
  /* border: 3px solid brown; */
  display: flex;
  width: 90%;
  height: 25%;

}
.car-title{
  font-weight: 400;
  text-align: center;
  font-size: robot;
}
.car-title{
  margin-right: 10px;
}
input{
  width: 95%;
  border: none;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
}
button{
  width: 15%;
  padding: 1;
  border: none;
  background-color:#fff;
  border-radius: 0 5px 5px 0;
}

main h3{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}
.last-visit, .offers{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.last-visit .products{
width: 95%;
}
.products article{
  background: white;
  padding: 10px 0;

}

.products article i{
  color:green;
  border: 1px solid green;
  background: white;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  top: -15px;
  right: 20px;
  width: 35px;
  height: 35px;
}
.main-article{
  display: flex;
  flex-wrap: wrap;
  position: relative;     
  padding: 10px;
  border-top: 1px solid gray;


}
.price{
  font-size: 18px;
  width: 30%;
}
.discount{
  width: 70%;
  color: green;


}
.discount, .description{
  font-size: 16px;
  font-weight: normal;

}
h3, .description{
  color:grey;

}
article{
  margin-bottom: 15px;
}

.offers .products{
  width: 95%;
}

main section div.products article i{
  transition:transform 1s;

}
main section div.products article:hover i{
  transform: rotate(-90deg);
  
}


footer{
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-top: auto;
  background: #fff;
}


footer i{
  color:#1259c3;
  padding: 5px;
}
footer div{
  padding: 20px;
}
.pie{
  padding: 15px;
}
@media (min-width: 768px) {
  .logo-container{
      flex-direction: row;
  }
  .logo-bar-container{
      width: 50%;
  }
  .card-container{
      display: flex;
      width: 50%;
      padding: 0;
      justify-content: center;
      align-items: center;
  
  }
  .card-container h2 {
      font-size: 16px;
  
  }
  .burguer-container{
      display: none;
  }
  .menu-container{
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }
  ul{
      display: flex;
      width: 45%;
      justify-content: space-between;
  }
  .last-visit, .offers{
    display: flex;
    flex-direction: column;
    align-items: center;

}


  .products{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
  }
  .products article{
      width: 49%;
  }
  article{
      height: 26em;
      transition: all 0.4s ease-in;
  }
  .main-article h4{
      position: relative;
      bottom: 40px;
      z-index: -1;
      opacity: 0;
      transition: all 0.4s ease-in;
  
  }
  article:hover{
      box-sizing: 0px 0px 10px rgb(100, 100, 100);
      height: 27em;
  
  
  }
  article:hover .main-article h4{
      position: relative;
      bottom: 0;
      z-index: 1;
      opacity: 1;
  }
  footer{
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    background: #fff;
    display: flex;
  }
  .pie{
    padding: 15px;
    text-align: center;
  }
  
  }
  
  
  /* Desktop */
  @media (min-width: 1024px) {
      .last-visit, .offers{
          height: 360px;
  }
  .products article{
      width:24%;
  
  }
  .price, .discount{
      font-size: 14px;
  
  }
  article{
      height: 18em;
  }
  article:hover{
      height: 19em;
  }
  
footer{
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-top: auto;
  background: #fff;
  display: flex;

}
.pie{
  padding: 15px;
  text-align: center;
}

  }
     
  
  /* TV hasta 1366 */
  @media (min-width: 1200px) {
      
          .last-visit, .offers{
              height: 500px;
      }
      .products article{
          width:24%;
      
      }
      .price, .discount{
          font-size: 14px;
      
      }
      article{
          height: 28em;
      }
      article:hover{
          height: 25em;
      }
      }